<a href="https://colab.research.google.com/github/ksh-dong/Python25Study/blob/main/%EC%9E%85%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수란 무엇인가 ⏰
함수를 설명하기 전에 믹서를 생각해 보자. 우리는 믹서에 과일을 넣는다. 그리고 믹서를 사용해서 과일을 갈아 과일 주스를 만든다. 우리가 믹서에 넣는 과일은 ‘입력’, 과일 주스는 ‘출력(결괏값)’이 된다.

In [2]:
def add(a, b):
  return a+b

In [3]:
a = 3
b = 4
c = add(a, b)
print(c)

7

In [4]:
def add(a, b):  #a, b는 매개변수
  return a+b

print(add(3,4)) # 3, 4는 인수

7

In [5]:
def add(a, b):
  result = a + b
  return result

In [6]:
a = add(3, 4)
print(a)

7

In [8]:
def say():
  return 'HI'

'HI'

In [9]:
a = say()
print(a)

HI

In [10]:
def add(a, b):
  print("%d, %d의 합은 %d입니다." % (a, b, a+b))

In [12]:
a = add(3, 4)
print(a)

3, 4의 합은 7입니다.
None

In [13]:
def say():
  print('HI')

In [14]:
say()

HI

In [16]:
def sub(a, b):
  return a - b

In [17]:
result = sub(a=7, b=3)
print(result)

4

In [18]:
result = sub(b=5, a=3)
print(result)

-2

In [19]:
def add_many(*args):
  result = 0
  for i in args:
    result = result + i;
  return result

In [21]:
result = add_many(1,2,3)
print(result)

result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

6
55

In [26]:
def add_mul(choice, *args):
  if choice == "add":
    result = 0
    for i in args:
      result = result + i
  elif choice == "mul":
    result = 1
    for i in args:
      result = result * i
  return result

In [27]:
result = add_mul('add', 1,2,3,4,5)
print(result)

result = add_mul('mul', 1,2,3,4,5)
print(result)

15
120

In [28]:
def print_kwargs(**kwargs):
  print(kwargs)

In [31]:
print_kwargs(a=1)
print_kwargs(name='foo', age=3)
print_kwargs(name='홍길동', age=25, city='서울', job='개발자')

{'a': 1}
{'name': 'foo', 'age': 3}
{'name': '홍길동', 'age': 25, 'city': '서울', 'job': '개발자'}

In [32]:
def create_profile(**info):
  print("=== 프로필 정보 ===")
  for key, value in info.items():
    print(f"{key}: {value}")

In [34]:
create_profile(이름='김철수', 나이=30, 직업='프로그래머', 취미='독서')

=== 프로필 정보 ===
이름: 김철수
나이: 30
직업: 프로그래머
취미: 독서

In [36]:
def mixed_function(name, *args, **kwargs):
  print(f"이름: {name}")
  print(f"추가 인수들: {args}")
  print(f"키워드 인수들: {kwargs}")

mixed_function('홍길동', 1,2,3, age=25, city='서울')

이름: 홍길동
추가 인수들: (1, 2, 3)
키워드 인수들: {'age': 25, 'city': '서울'}

In [37]:
def add_and_mul(a,b):
  return a+b, a*b

In [40]:
result = add_and_mul(3, 4)
result

(7, 12)

In [44]:
result1, result2 = add_and_mul(3,4)
result1
result2

12

In [45]:
def add_and_mul(a,b):
  return a+b
  return a*b

In [46]:
result = add_and_mul(2,3)
print(result)

5

In [50]:
def say_nick(nick):
  if nick == "바보":
    return
  print("나의 별명은 %s 입니다." % nick)

In [55]:
say_nick("야호")
say_nick("바보")

나의 별명은 야호 입니다.

In [57]:
def say_myself(name, age, man=True):
  print("나의 이름은 %s 입니다." % name)
  print("나이는 %d살 입니다." % age)
  if man:
    print("남자입니다.")
  else:
    print("여자입니다.")

In [58]:
say_myself("박응용", 27)

나의 이름은 박응용 입니다.
나이는 27살 입니다.
남자입니다.

In [60]:
say_myself("박응용", 27, False)

나의 이름은 박응용 입니다.
나이는 27살 입니다.
여자입니다.

In [63]:
a = 1
def vartest(a):
  a = a + 1

vartest(a)
print(a)

1

In [68]:
a = 1
def vartest(a):
  a = a + 1
  return a

a = vartest(a)
print(a)

2

In [69]:
a = 1
def vartest():
  global a
  a = a + 1

vartest()
print(a)

2

In [70]:
def change_list(my_list):
  my_list.append(4)

a = [1,2,3]
change_list(a)
print(a)

[1, 2, 3, 4]

###lambda 예약어 ❓

함수_이름 = lambda 매개변수1, 매개변수2, ... : 매개변수를_이용한_표현식

In [76]:
add = lambda a, b: a+b
result = add(3, 4)
print(result)

7

In [73]:
def add(a, b):
  return a+b

result = add(3, 4)
print(result)

7

In [77]:
def add(a, b):
  """
  두 숫자를 더하는 함수

  Parameters:
  a (int, float): 첫 번째 숫자
  b (int, float): 두 번째 숫자

  returns:
  int, float: 두 숫자의 합
  """
  return a + b

#독스트링 확인하기
print(add.__doc__)

  두 숫자를 더하는 함수

  Parameters:
  a (int, float): 첫 번째 숫자
  b (int, float): 두 번째 숫자

  returns:
  int, float: 두 숫자의 합

## 사용자 입출력
우리들이 사용하는 대부분의 완성된 프로그램은 사용자 입력에 따라 그에 맞는 출력을 내보낸다. 대표적인 예로 게시판에 글을 작성한 후 [확인] 버튼을 눌러야만(입력) 우리가 작성한 글이 게시판에 올라가는(출력) 것을 들 수 있다.

In [79]:
a = input()
a

Life is too short, you need python

'Life is too short, you need python'

In [85]:
number = input("숫자를 입력하세요")
print(number)
type(number)

숫자를 입력하세요3
3

str

In [89]:
age = input("나이를 입력하세요: ")
age = int(age)    #문자를 정수로 변환
print(age + 1)

나이를 입력하세요: 25
26

In [91]:
height = input("키를 입력하세요(cm): ")
height = float(height)
print(height/100)

키를 입력하세요(cm): 175.5
1.755

In [93]:
age = int(input("나이를 입력하세요"))
print(type(age))

나이를 입력하세요25
<class 'int'>

In [95]:
print("life" "is" "to short") #1번
print("life"+"is"+"to short") #2번

lifeisto short
lifeisto short

In [96]:
print("life", "is", "too short")

life is too short

In [98]:
print("2025", "08", "17", sep="-")
print("점프", "투", "파이썬", sep=" TO ")

2025-08-17
점프 TO 투 TO 파이썬

In [107]:
for i in range(10):
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [110]:
print("=== 간단한 계산기 ===")

# 사용자로 부터 두 숫자 입력받기
num1 = float(input("첫 번째 숫자를 입력하세요: "))
num2 = float(input("두 번째 숫자를 입력하세요: "))

# 계산 결과 출력
print(f"{num1} + {num2} = {num1 + num2}")
print(f"{num1} - {num2} = {num1 - num2}")
print(f"{num1} * {num2} = {num1 * num2}")

if num2 != 0:
  print(f"{num1} / {num2} = {num1 / num2}")
else:
  print("0으로 나눌 수 없습니다.")

=== 간단한 계산기 ===
첫 번째 숫자를 입력하세요: 10
두 번째 숫자를 입력하세요: 3
10.0 + 3.0 = 13.0
10.0 - 3.0 = 7.0
10.0 * 3.0 = 30.0
10.0 / 3.0 = 3.3333333333333335

## 파일 읽고 쓰기

여기에서는 파일을 새로 만든 다음 프로그램이 만든 결괏값을 새 파일에 적어 본다. 또 파일에 적은 내용을 읽고 새로운 내용을 추가하는 방법도 알아본다.

In [113]:
f = open("새파일.txt", 'w')
f.close()