<a href="https://colab.research.google.com/github/ksh-dong/Python25Study/blob/main/%EC%9E%85%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수란 무엇인가 ⏰
함수를 설명하기 전에 믹서를 생각해 보자. 우리는 믹서에 과일을 넣는다. 그리고 믹서를 사용해서 과일을 갈아 과일 주스를 만든다. 우리가 믹서에 넣는 과일은 ‘입력’, 과일 주스는 ‘출력(결괏값)’이 된다.

In [2]:
def add(a, b):
  return a+b

In [3]:
a = 3
b = 4
c = add(a, b)
print(c)

7

In [4]:
def add(a, b):  #a, b는 매개변수
  return a+b

print(add(3,4)) # 3, 4는 인수

7

In [5]:
def add(a, b):
  result = a + b
  return result

In [6]:
a = add(3, 4)
print(a)

7

In [8]:
def say():
  return 'HI'

'HI'

In [9]:
a = say()
print(a)

HI

In [10]:
def add(a, b):
  print("%d, %d의 합은 %d입니다." % (a, b, a+b))

In [12]:
a = add(3, 4)
print(a)

3, 4의 합은 7입니다.
None

In [13]:
def say():
  print('HI')

In [14]:
say()

HI

In [16]:
def sub(a, b):
  return a - b

In [17]:
result = sub(a=7, b=3)
print(result)

4

In [18]:
result = sub(b=5, a=3)
print(result)

-2

In [19]:
def add_many(*args):
  result = 0
  for i in args:
    result = result + i;
  return result

In [21]:
result = add_many(1,2,3)
print(result)

result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

6
55

In [26]:
def add_mul(choice, *args):
  if choice == "add":
    result = 0
    for i in args:
      result = result + i
  elif choice == "mul":
    result = 1
    for i in args:
      result = result * i
  return result

In [27]:
result = add_mul('add', 1,2,3,4,5)
print(result)

result = add_mul('mul', 1,2,3,4,5)
print(result)

15
120

In [28]:
def print_kwargs(**kwargs):
  print(kwargs)

In [31]:
print_kwargs(a=1)
print_kwargs(name='foo', age=3)
print_kwargs(name='홍길동', age=25, city='서울', job='개발자')

{'a': 1}
{'name': 'foo', 'age': 3}
{'name': '홍길동', 'age': 25, 'city': '서울', 'job': '개발자'}

In [32]:
def create_profile(**info):
  print("=== 프로필 정보 ===")
  for key, value in info.items():
    print(f"{key}: {value}")

In [34]:
create_profile(이름='김철수', 나이=30, 직업='프로그래머', 취미='독서')

=== 프로필 정보 ===
이름: 김철수
나이: 30
직업: 프로그래머
취미: 독서

In [36]:
def mixed_function(name, *args, **kwargs):
  print(f"이름: {name}")
  print(f"추가 인수들: {args}")
  print(f"키워드 인수들: {kwargs}")

mixed_function('홍길동', 1,2,3, age=25, city='서울')

이름: 홍길동
추가 인수들: (1, 2, 3)
키워드 인수들: {'age': 25, 'city': '서울'}

In [37]:
def add_and_mul(a,b):
  return a+b, a*b

In [40]:
result = add_and_mul(3, 4)
result

(7, 12)

In [44]:
result1, result2 = add_and_mul(3,4)
result1
result2

12

In [45]:
def add_and_mul(a,b):
  return a+b
  return a*b

In [46]:
result = add_and_mul(2,3)
print(result)

5

In [50]:
def say_nick(nick):
  if nick == "바보":
    return
  print("나의 별명은 %s 입니다." % nick)

In [55]:
say_nick("야호")
say_nick("바보")

나의 별명은 야호 입니다.

In [57]:
def say_myself(name, age, man=True):
  print("나의 이름은 %s 입니다." % name)
  print("나이는 %d살 입니다." % age)
  if man:
    print("남자입니다.")
  else:
    print("여자입니다.")

In [58]:
say_myself("박응용", 27)

나의 이름은 박응용 입니다.
나이는 27살 입니다.
남자입니다.

In [59]:
say_myself("박응용", 27, True)

나의 이름은 박응용 입니다.
나이는 27살 입니다.
남자입니다.