<a href="https://colab.research.google.com/github/ksh-dong/Python25Study/blob/main/%EC%A0%9C%EC%96%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# IF문 학습하기
money = True
if money:
  print("택시를 타고 가라")
else:
  print("걸어가라")

택시를 타고 가라

In [2]:
x = 3
y = 2
x > y
x < y
x == y
x != y

True

In [ ]:
money = 2000
if money >= 3000:
  print("택시를 타고 가라")
else:
  print("걸어가라")

걸어가라

In [ ]:
money = 2000
card = True
if money >= 3000 or card:
  print("택시를 타고 가라")
else:
  print("걸어가라")

택시를 타고 가라

In [ ]:
1 in [1,2,3]
1 not in [1,2,3]

False

In [ ]:
'a' in ('a', 'b', 'c')
'j' not in 'python'

True

In [ ]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
  print("택시를 타고가라")
else:
  print("걸어가라")

택시를 타고가라

In [ ]:
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket:
  pass
else:
  print("카드를 꺼내라")

In [ ]:
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
  print("택시를 타고가라")
else:
  if card:
    print("택시를 타고가라")
  else:
    print("걸어가라")

택시를 타고가라

In [ ]:
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
  print("택시를 타고가라")
elif card:
  print("택시를 타고가라")
else:
  print("걸어가라")

택시를 타고가라

In [ ]:
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket:pass
else: print("카드를 꺼내라")

In [ ]:
x = 5
1 < x < 10
10 <= x <= 20

False

In [ ]:
x = 5
(1 < x) and (x < 10)
(10 <= x) and (x <= 20)

False

In [ ]:
score = 85
if score >= 60:
  result = "합격"
else:
  result = "불합격"

print(result)

합격

In [ ]:
score = 85
result = "합격" if score >= 60  else "불합격"
print(result)

합격

In [ ]:
age = 19
status = "성인" if age >= 18 else "미성년"
print(status)

성인

In [ ]:
temperature = 25
weather = "따뜻함" if temperature >= 20 else "추움"
print(weather)

따뜻함

In [ ]:
money = 1500
transportation = "버스" if money >= 1000 else "도보"
print(transportation)

버스

#While
-⚡

In [ ]:
treeHit = 0
while treeHit < 10:
  treeHit = treeHit + 1
  print("나무를 %d번 찍었습니다." % treeHit)
  if treeHit == 10:
    print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [ ]:
prompt = """
1. Add
2. Del
3. List
4. Quit

Enter number: """

number = 0
while number != 4:
  print(prompt)
  number = int(input())

1. Add
2. Del
3. List
4. Quit

Enter number:
1

1. Add
2. Del
3. List
4. Quit

Enter number:
2

1. Add
2. Del
3. List
4. Quit

Enter number:
3

1. Add
2. Del
3. List
4. Quit

Enter number:
4

In [ ]:
# 커피
coffee = 10
money = 300
while money:
  print("돈을 받았으니 커피를 줍니다.")
  coffee = coffee - 1
  print("남은 커피의 양은 %d개 입니다." % coffee)
  if coffee == 0:
    print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
    break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개 입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [ ]:
# 커피 자판기
coffee = 10
while True:
  money = int(input("돈을 넣어 주세요:"))
  if money == 300:
    print("커피를 줍니다.")
    coffee = coffee - 1
  elif money > 300:
    print("거스름돈 %d를 주고 커피를 줍니다." % (money - 300))
    coffee = coffee - 1
  else:
    print("돈을 다시 돌려주고 커피를 주지 않습니다.")
    print("남은 커피의 양은 %d개 입니다." % coffee)
  if coffee == 0:
    print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
    break

돈을 넣어 주세요:300
커피를 줍니다.
돈을 넣어 주세요:300
커피를 줍니다.
돈을 넣어 주세요:400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어 주세요:1000
거스름돈 700를 주고 커피를 줍니다.
돈을 넣어 주세요:300
커피를 줍니다.
돈을 넣어 주세요:100
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 5개 입니다.
돈을 넣어 주세요:300
커피를 줍니다.
돈을 넣어 주세요:300
커피를 줍니다.
돈을 넣어 주세요:100
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 3개 입니다.
돈을 넣어 주세요:400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어 주세요:1000
거스름돈 700를 주고 커피를 줍니다.
돈을 넣어 주세요:1
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 1개 입니다.
돈을 넣어 주세요:300
커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [3]:
a = 0
while a < 10:
  a = a + 1
  if a % 2 == 0: continue
  print(a)

1
3
5
7
9

In [5]:
count = 0
while count < 10:
  print(f"카운트:{count}")
  count += 1
else:
  print("while문이 정상 종료되었습니다.")

카운트:0
카운트:1
카운트:2
카운트:3
카운트:4
카운트:5
카운트:6
카운트:7
카운트:8
카운트:9
while문이 정상 종료되었습니다.

In [6]:
count = 0
while count < 5:
  if count == 2:
    break
  print(f"카운트: {count}")
  count += 1
else:
  print("while 문이 정상 종료되었습니다.")

카운트: 0
카운트: 1

In [7]:
i = 1
while i <= 3:
  j = 1
  while j <= 3:
    print(f"i={i}, j={j}")
    j += 1
  i += 1

i=1, j=1
i=1, j=2
i=1, j=3
i=2, j=1
i=2, j=2
i=2, j=3
i=3, j=1
i=3, j=2
i=3, j=3

#for 문의 기본 구조
⛳

In [8]:
test_list = ['one', 'two', 'three']
for i in test_list:
  print(i)

one
two
three

In [9]:
a = [(1,2), (3,4), (5,6)]
for (first, last) in a:
  print(first + last)

3
7
11

In [10]:
marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks:
  number = number + 1
  if mark >= 60:
    print("%d번 학생은 합격입니다." % number)
  else:
    print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [11]:
marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks:
  number = number + 1
  if mark < 60:
    continue
  print("%d번 학생 축하합니다. 합격입니다." % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [13]:
a = range(10)
a

range(0, 10)

In [14]:
a = range(1, 11)
a

range(1, 11)

In [16]:
add = 0
for i in range(1,11):   # 1 <= i < 11, 1~10
  add = add + i
  print(f"i={i}, add={add}")

print(add)

i=1, add=1
i=2, add=3
i=3, add=6
i=4, add=10
i=5, add=15
i=6, add=21
i=7, add=28
i=8, add=36
i=9, add=45
i=10, add=55
55

In [17]:
marks = [90, 25, 65, 45, 80]
for number in range(len(marks)):
  if marks[number] < 60:
    continue
  print("%d번 학생 축하합니다. 합격입니다." % (number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [24]:
for i in range(2,10):
  for j in range(1, 10):
    print(i*j ,end=" ")
  print("")

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [26]:
a = [1,2,3,4]
result = []
for num in a:
  result.append(num*3)

print(result)

[3, 6, 9, 12]

In [33]:
a = [1,2,3,4]
result = [num*3 for num in a]
print(result)

[3, 6, 9, 12]

In [36]:
a = [1,2,3,4]
result = [num*3 for num in a if num%2 == 0]
print(result)

[6, 12]

In [38]:
result = [x*y for x in range(2,10)
              for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [39]:
for i in range(10):
  if i == 5:
    break
  print(i)

0
1
2
3
4

In [40]:
for i in range(5):
  print(i)
else:
  print("for 문이 정상 종료되었습니다.")

0
1
2
3
4
for 문이 정상 종료되었습니다.

In [41]:
for i in range(5):
  if i == 3:
    break
  print(i)
else:
  print("for 문이 정상 종료 되었습니다.")

0
1
2

In [44]:
fruits = ['apple', 'banana', 'orange']
for i, fruit in enumerate(fruits):
  print(f"{i} : {fruit}")

0 : apple
1 : banana
2 : orange

In [48]:
fruits = ['apple', 'banana', 'orange']
for i, fruit in enumerate(fruits, 1):
  print(f"{i} : {fruit}")

1 : apple
2 : banana
3 : orange

In [54]:
names = ['홍길동', '김철수', '이영희']
scores = [85, 93, 78]
for i, (name, score) in enumerate(zip(names, scores), 1):
  print(f"{i} {name}: {score}점")

1 홍길동: 85점
2 김철수: 93점
3 이영희: 78점

In [57]:
names = ['홍길동', '김철수', '이영희']
korean = [85, 92, 78]
english = [90, 88, 95]
for name, kor, eng in zip(names, korean, english):
  print(f"{name}: 국어 {kor}점, 영어 {eng}점")

홍길동: 국어 85점, 영어 90점
김철수: 국어 92점, 영어 88점
이영희: 국어 78점, 영어 95점